.news {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
}

/* .news .bookmark{
    display: flex;
    align-self: flex-end;
} */

.bookmark a, .info a{
    text-decoration: none;
    color: unset;
}

.main {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: #383838;

    font-family: "Signika", sans-serif;
}


.main_photo {
    /* padding-top: 20px; */
    max-height: fit-content;
    /*max-width: 1240px;*/
    margin: 0 auto;

}

.main_photo a img {
    object-fit: cover;
}

.news img {
    height: 100%;
    width: 100%;
    text-align: center;
    margin: auto;

}

.main_news {
    /*max-height: auto;*/
    /* width: 96%; */
    margin: 0 auto;
    text-align: center;
}

.title_main {
    margin: 18px 12px;
    display: inline-flex;
    font-size: 22px;
    text-align: left;
    font-weight: bold;
    color: white;
    text-decoration: none;
    /* vertical-align: baseline; */
}

.title_main_sub {
    /* padding-bottom: 6px;
    font-weight: normal; */
    text-align: left;
    margin: 0 10px;
    color: lightgray;
    text-decoration: none;
    /* vertical-align: baseline; */
}

.bookmark {
    text-align: end;
    background-color: inherit;
    vertical-align: middle;
    margin: 0;
}

.main.bookmark {
    color: white;
    padding: 10px 10px 10px 16px;
    margin: 0;
    max-width: 100%;

}

.bookmark img {
    vertical-align: text-bottom;
    /* height: 20px; */
    width: 23px;
}

.comment img {
    width: 17px;
    vertical-align: text-bottom;
}

/* news in riga */
.news_container_row {
    /*width: 95%;*/
    /*max-height: auto;*/
    margin: 50px auto 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.news-item-row {
    display: block;
    object-fit: cover;
    width: 23%;
    height: 100%;
}

.news-item-row p {
    font-size: medium;
    font-weight: 700;
    margin-bottom: 10px;
}


.news-item-row p a:link,
.news-item-row p a:visited,
.news-item-row p a:hover {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* news in 2 colonne */

.news_container_column {
    width: 95%;
    /*max-height: auto;*/
    margin: 50px auto;
    display: flex;
    flex-direction: row;
}

/*news colonna sinistra */
.news_container_half {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-right: #ebebeb solid 3px;
    padding-right: 30px;
    justify-content: space-between;
}

.news-item-column {
    display: block;
    object-fit: cover;
    width: 48%;
    height: 33%;
    margin-top: 60px;
}

.news-item-column p a:link,
.news-item-column p a:visited,
.news-item-column p a:hover {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: large;
}

/* news principale colonna sinistra */
.news-item-column-big {
    width: 100%;
    /*max-height: auto;*/
}

.text_big {
    float: left;
    width: 35%;
    height: 100%;
    background-color: #383838;
}

.text_big h2 a {
    text-decoration: none;
    color: white;
}

.text_big h2 {
    padding: 20px 0 20px 10px;
}

.image_big {
    float: right;
    width: 65%;
    height: 100%;
}

.text_big .info {
    flex-direction: column;
}

.text_big .bookmark, .text_big .comment {
    margin: 10px
}

.text_big .bookmark {
    text-align: unset;
    color: white;
}

/* colonna destra*/

.news_container_half_2 {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 30px;
}

.news-item-column-small {
    display: block;
    width: 95%;
    max-height: 120px;
    margin-bottom: 50px;
}

.news-item-column-small img {
    float: left;
    width: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.news-item-column-small p a {
    font-size: 15px;
}

.news-item-column-small p a:link,
.news-item-column-small p a:visited,
.news-item-column-small p a:hover {
    font-weight: bold;
    text-decoration: none;
    color: black;
}


.news-item-column-small .info {
    justify-content: flex-end;
    margin-top: -5.5px;

}

.news-item-column-small .bookmark {
    text-align: unset;
    font-size: smaller;
}

.news-item-column-small .bookmark img {
    width: 20px;
}


.news-item-column-small .comment {
    display: none;
}


.news span {
    display: inline;
}

.comment {
    color: #828282;
    font-weight: lighter;
}

.info {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

@media screen and (min-width: 1100px) {
    .main {
        margin-top: 15px;
    }

    .title_main_sub h3 {
        text-align: center;
    }
}

@media screen and (max-width: 1100px) {
    .main {
        max-width: 100%;
    }

    .bookmark img {
        padding-right: 10px;
    }

    .title_main_sub {
        display: grid;
    }

    .text_big {
        height: unset;
    }

    .image_big {
        height: unset;
    }

    .text_big h2 a {
        font-size: medium;
    }

    .news_container_half {
        border-right: unset;
        padding-right: unset;
    }

    .news_container_row {
        margin: 20px 0;
        display: flex;
        flex-direction: column;
    }

    .news-item-column-big {
        display: inline-flex;
        width: 100%;
        flex-direction: row-reverse;
        margin-bottom: 25px;
    }

    /*Da controllare*/
    .news_container_half_2 {
        width: 100%;
        margin: 0 auto;
    }

    .news-item-column-small img {
        float: none;
        width: 100%;
    }

    .news-item-column-small p a {
        font-size: large;
    }

    .news-item-column-small .comment {
        display: flex;
    }

    .news-item-column-small {
        margin: auto;
        padding-bottom:60px;
        width: 100%;
        max-height: unset;
    }

    .news-item-column-small .info {
        justify-content: space-between;
        height: 20px;
        margin-top: unset;
        margin-bottom: 20px;
    }

    .news-item-column-small .comment img {
        width: 20px;
        height: 20px;
        padding-left: 2px;
    }

    .news-item-column-small .bookmark span {
        font-size: medium;
    }

    .news-item-column-small .bookmark img {
        width: 23px;
        margin: 0;
        padding: 0;
    }

    .vertical {
        display: flex;
        width: 95%;
        margin: 0 auto;
        margin-bottom: 10px;
        flex-direction: column;
    }
}