/*start GENERAL RULES*/

* {
    margin: 0;
    padding: 0;


}

body {
    font-family: "Signika", "Open Sans", sans-serif;
    background-color: #ffffff;
}

ul {
    text-decoration: none;
}


/*end GENERAL RULES*/

